# Gizli Anahtarlar ve Ayarlar
.env
*.pem
identity.json
identity.pem
auth.md

# Veritabanı ve Yerel Veriler
data/
runtime/data/

# Paket Yönetimi
node_modules/
dist/
.DS_Store

# Python (Eğer varsa)
venv/
__pycache__/
*.py[cod]
